/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1600px) {
	body {
		font-size: 14px;
	}
	.header {
		font-size: 12px;
	}
	.logo {
		margin: 0 23px;
		margin-bottom: -2px;
		top: 11px;
	}
    .menu > li > a {
        padding-bottom: 12px;
    }
    .logo img {
      width: 135px;
  }
  .list-socials img,
  .btn-header img {
      max-width: 21px;
  }
  .btn-header_search img {
      max-width: 19px;
  }
  .buttons-header .list-socials {
      margin-left: 49px;
  }
  .header__wrapper {
      margin-bottom: 15px;
  }
  .billbord-block {
      height: 525px;
      padding: 20px 50px;
  }
  .title-big {
      font-size: 41px;
  }
  .billbord-block .title-big {
      max-width: 760px;
  }
  .billbord-block .title-big, .billbord-block .descr-big {
      margin-bottom: 26px;
  }
  .descr-big {
      font-size: 21px;
  }
  .billbord-block .descr-big {
      max-width: 545px;
  }
  .text-big {
      font-size: 16px;
  }
  .billbord-block .text-big {
      max-width: 460px;
  }
  .btn-main {
      height: 60px;
      padding: 0 30px;
      font-size: 12px;
  }
  .billbord .btn-main {
      margin-top: 39px;
  }
  .title-section {
      margin-top: 37px;
      margin-bottom: 26px;
      font-size: 32px;
  }
  .descr-section {
      font-size: 16px;
      max-width: 653px;
      margin-bottom: 30px;
  }
  .row_categories > div {
      padding: 0 12px;
  }
  .row_categories {
      margin: 0 -12px;
      margin-bottom: -26px;
  }
  .item-category {
    min-height: 265px;
    margin-bottom: 26px;
    padding: 15px 20px;
    font-size: 16px;
}
.item-category__title i {
    font-size: 14px;
    margin-left: 7px;
}
.item-category__image {
	transform: scale(0.97);
}
.head-section {
    font-size: 21px;
    margin-bottom: 12px;
}
.slider-catalog .slick-slide {
 padding: 0 12px;
}
.slider-catalog {
 margin: 0 -12px;
 margin-bottom: 30px;
}
.item-catalog__sizes {
 font-size: 12px;
}
.item-catalog__descr {
    font-size: 12px;
    padding-bottom: 13px;
    min-height: 48px;
}
.item-catalog__image {
    height: 220px;
    margin-bottom: 14px;
}
.item-catalog__bottom {
    padding-top: 15px;
}
.link-page {
    font-size: 11px;
}
.btn-like {
    font-size: 21px;
    top: 9px;
    right: 9px;
}
.originality-block {
    padding: 42px 45px;
}
.slider-videos__item {
    height: 265px;
}
.title-middle {
    font-size: 21px;
}
.originality-block .title-middle {
    margin-bottom: 32px;
    max-width: 489px;
}
.list-page li::before {
	width: 21px;
	height: 21px;
}
.list-page li {
    padding-left: 30px;
    margin-bottom: 23px;
}
.subdescr {
    font-size: 12px;
}
.slider-videos {
    margin-bottom: 15px;
}
.row_etaps {
 margin: 0 -12px;
}
.row_etaps > div {
 padding: 0 12px;
}
.item-etap {
    padding: 23px 27px;
    padding-right: 20px;
    padding-bottom: 50px;
    font-size: 13px;
}
.item-etap__number {
    font-size: 30px;
    padding-bottom: 17px;
    margin-bottom: 21px;
    margin-right: 10px;
}
.hint__content {
    padding: 12px;
    width: 224px;
    font-size: 11px;
}
.slider-persons .slick-slide {
	padding: 0 12px;
}
.slider-persons {
	margin: 0 -12px;
}
.item-person {
    font-size: 12px;
    padding: 12px;
}
.item-person__image {
    height: 370px;
    margin-bottom: 12px;
}
.title-small {
    font-size: 16px;
}
.item-person .title-small {
    margin-bottom: 5px;
}
.item-person__descr {
    margin-bottom: 18px;
}
.reviews {
 padding-bottom: 33px;
}
.subscribe-block {
    padding: 40px 50px;
}
.subscribe-block__title {
    font-size: 36px;
    margin-bottom: 40px;
    max-width: 675px
}
.subscribe-block__descr {
    font-size: 14px;
    max-width: 277px;
    margin-left: 24px;
}
.item-form input, .item-form textarea {
    height: 55px;
    padding: 0 20px;
    font-size: 13px;
}
.subscribe-block__form {
    max-width: 585px;
}
.subscribe-block__form .btn-main {
	height: 55px;
}
.checkbox {
	font-size: 11px;
	margin-top: 0;
}
.team .title-section, .about .title-section, .originality .title-section {
	margin-bottom: 30px;
}
.about-block {
    padding: 40px 50px;
}
.about-block p {
    margin-bottom: 19px;
}
.bottom-about::before {
	margin-right: 18px;
}
.slider-team .slick-slide {
	padding: 0 42px;
}
.item-team__image {
    height: 285px;
    margin-bottom: 24px;
}
.text-small {
    font-size: 12px;
}
.team {
	padding-bottom: 48px;
}
.footer .logo img {
    width: 155px;
}
.footer {
    padding-top: 42px;
    font-size: 12px;
}
.footer__nav_big, .footer__title {
    font-size: 14px;
    margin-bottom: 12px;
}
.footer__nav li {
    margin-bottom: 6px;
}
.footer__nav_big li {
    margin-bottom: 16px;
}
.socials-main li {
    margin-bottom: 19px;
}
.menu-dropdown {
    padding: 23px 50px;
    font-size: 13px;
}
.menu-dropdown__list li {
    margin-bottom: 12px;
}
.menu-dropdown__title {
    margin-bottom: 14px;
}
.wrapper {
    padding-top: 112px;
}
.tag-catalog {
    font-size: 12px;
    padding: 7px 10px;
    margin-right: 5px;
}
.remove-tag {
    font-size: 14px;
    margin-left: 9px;
}
.sorting-catalog {
    font-size: 11px;
}
.item-sorting {
    margin-left: 13px;
}
.item-sidebar__content {
    padding: 15px;
    padding-top: 0;
}
.item-sidebar__head {
    font-size: 13px;
    padding: 15px;
}
.checkbox-main {
    font-size: 12px;
    margin-bottom: 13px;
}
.item-input input {
    height: 37px;
    padding: 0 11px;
    font-size: 14px;
}
.row_catalog {
    margin: 0 -12px;
}
.row_catalog > div {
    padding: 0 12px;
    margin-bottom: 24px;
}
.breadcrumbs {
    font-size: 12px;
}
.button-sidebar .btn-main {
    width: 190px;
}
.button-sidebar {
    padding: 15px 0;
}
.title-page {
    font-size: 33px;
    padding-bottom: 27px;
}
.sidebar-catalog {
    top: 110px;
}
.sidebar-catalog__content {
    max-height: calc(100vh - 190px);
}
.page-card {
    font-size: 12px;
}
.slider-nav__item {
    height: 110px;
}
.slider-for__item {
    height: 488px;
}
.page-card .title-page {
    font-size: 27px;
    padding-bottom: 9px;
}
.availability {
    margin-bottom: 11px;
}
.page-card .price-main {
    font-size: 21px;
    margin-bottom: 13px;
}
.card-options {
    padding: 15px 0;
    padding-bottom: 23px;
    margin-bottom: 13px;
}
.item-select {
    font-size: 12px;
}
.card-options .item-select {
    margin-bottom: 23px;
}
.list-colors li {
    margin-right: 12px;
}
.item-color {
    width: 33px;
    height: 33px;
}
.feature {
    margin-bottom: 6px;
}
.col_card .btn-main {
    height: 47px;
    margin-top: 15px;
}
.card-info__title {
    font-size: 16px;
    margin-bottom: 17px;
}
.card-info {
    padding: 15px;
    padding-bottom: 13px;
}
.card-info li img {
    max-width: 21px;
}
.card-info li {
    margin-bottom: 25px;
    padding-left: 30px;
}
.card-info__descr {
    font-size: 10px;
    margin-top: 20px;
}
.title-block {
    font-size: 17px;
}
.page-card .title-block {
    margin-top: 10px;
}
.card-text-more {
    padding-top: 20px;
}
.card-text {
    margin-top: 13px;
    padding-top: 19px;
}
.item-catalog__datail {
    font-size: 12px;
}
.item-catalog__datail img {
    max-width: 21px;
    margin-right: 6px;
}
.page-card ~ .originality {
    padding-bottom: 45px;
}
.link-main {
    font-size: 12px;
}
.sidebar-basket__line span {
    font-size: 12px;
}
.sidebar-basket {
    padding: 16px 18px;
    padding-bottom: 35px;
    top: 116px;
}
.sidebar-basket .title-block {
    margin-bottom: 11px;
}
.sidebar-basket__line {
    padding-bottom: 8px;
    margin-bottom: 22px;
}
.sidebar-basket__line .price-main {
    font-size: 21px;
}
.item-basket__image {
    width: 185px;
    height: 200px;
    padding: 25px;
    padding-right: 17px;
    padding-left: 10px;
}
.item-basket__content {
    width: 270px;
    padding-top: 20px;
}
.item-basket__title {
    font-size: 21px;
}
.item-basket {
    font-size: 12px;
    padding-right: 20px;
    margin-bottom: 16px;
}
.features-basket span {
    margin-right: 30px;
}
.quantity {
    width: 93px;
}
.item-basket .btn-like {
    font-size: 19px;
    margin-right: 16px;
}
.btn-remove {
    font-size: 19px;
}
.basket-info {
    padding: 20px 20px;
    padding-bottom: 30px;
    margin-top: 25px;
    font-size: 12px;
}
.list-icons li img {
    max-width: 21px;
}
.list-icons li {
    padding-left: 30px;
}
.basket-info .list-icons li {
    padding-right: 6px;
}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    body {
        font-size: 12px;
    }
    .header {
        font-size: 10px;
    }
    .slider-catalog .slick-slide {
        padding: 0 7px;
    }
    .item-catalog {
        padding: 10px;
        padding-bottom: 13px;
    }
    .item-catalog__image {
        height: 185px;
    }
    .head-section {
        font-size: 19px;
    }
    .item-catalog__descr,
    .item-catalog__sizes {
        font-size: 11px;
    }
    .item-category {
        min-height: 225px;
        margin-bottom: 14px;
        padding: 15px 20px;
        font-size: 14px;
    }
    .item-category__title i {
        font-size: 12px;
        margin-left: 6px;
    }
    .row_etaps > div,
    .row_categories > div {
        padding: 0 7px;
    }
    .row_etaps,
    .row_categories {
        margin: 0 -7px;
    }
    .billbord-block {
        height: 475px;
        padding: 20px 35px;
    }
    .title-big {
        font-size: 35px;
    }
    .billbord-block .title-big {
        max-width: 650px;
    }
    .descr-big {
        font-size: 18px;
    }
    .text-big {
        font-size: 14px;
    }
    .billbord-block .text-big {
        max-width: 404px;
    }
    .billbord-block .title-big, .billbord-block .descr-big {
        margin-bottom: 19px;
    }
    .billbord .btn-main {
        margin-top: 26px;
    }
    .navigation li {
        margin-right: 12px;
    }
    .title-middle {
        font-size: 18px;
    }
    .originality-block {
        padding: 35px 30px;
    }
    .originality-block .title-middle {
        margin-bottom: 20px;
        max-width: 328px;
    }
    .list-page li {
        padding-left: 30px;
        margin-bottom: 14px;
    }
    .slider-videos__item {
        height: 200px;
    }
    .slider-videos__item i {
        width: 50px;
        height: 50px;
        font-size: 14px;
    }
    .item-etap {
        padding: 19px 20px;
        padding-right: 14px;
        padding-bottom: 40px;
        font-size: 12px;
    }
    .slider-persons .slick-slide {
        padding: 0 7px;
    }
    .slider-persons {
        margin: 0 -7px;
    }
    .slider-catalog {
        margin: 0 -7px;
        margin-bottom: 30px;
    }
    .item-person__image {
        height: 285px;
    }
    .subscribe-block {
        padding: 40px 30px;
    }
    .subscribe-block__title {
        font-size: 33px;
        margin-bottom: 30px;
        max-width: 615px;
    }
    .subscribe-block__descr {
        font-size: 12px;
        max-width: 235px;
        margin-left: 16px;
    }
    .subscribe-block__form {
        max-width: 510px;
    }
    .about-block {
        padding: 33px 24px;
    }
    .title-small {
        font-size: 14px;
    }
    .text-small {
        font-size: 11px;
    }
    .about-block p {
        margin-bottom: 11px;
    }
    .slider-team .slick-slide {
        padding: 0 20px;
    }
    .item-team__image {
        height: 256px;
        margin-bottom: 20px;
    }
    .footer .logo img {
        width: 133px;
    }
    .footer__nav_big, .footer__title {
        font-size: 13px;
    }
    .footer {
        padding-top: 30px;
        font-size: 11px;
    }
    .menu-dropdown {
        padding: 19px 30px;
        font-size: 12px;
    }
    .wrapper {
        padding-top: 110px;
    }
    .tag-catalog {
        margin-bottom: 5px;
    }
    .sorting-catalog {
        flex-wrap: wrap;
        flex: initial;
    }
    .sorting-catalog__title {
        width: 100%;
        margin-bottom: 5px;
    }
    .item-sorting {
        margin: 0;
        margin-right: 5px;
    }
    .item-sorting:last-child {
        margin-right: 0;
    }
    .row_catalog > div {
        padding: 0 7px;
        margin-bottom: 14px;
    }
    .row_catalog {
        margin: 0 -7px;
    }
    .button-sidebar .btn-main {
        width: 160px;
        height: 46px;
    }
    .button-sidebar {
        padding: 20px 0;
    }
    .pager {
        padding-bottom: 20px;
        margin-top: 15px;
    }
    .page-card {
        font-size: 10px;
    }
    .slider-nav__item {
        height: 80px;
    }
    .slider-for__item {
        height: 367px;
    }
    .card-info li {
        margin-bottom: 15px;
    }
    .item-basket__image {
        width: 130px;
        height: 155px;
        padding: 16px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .item-basket__content {
        width: 200px;
        padding-top: 15px;
    }
    .item-basket__descr {
        margin-bottom: 19px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .menu,
    .header__line .btn-header,
    .navigation {
        display: none;
    }
    .header__line {
        min-width: 61px;
        flex: initial;
        border: none;
    }
    .logo__desktop {
        display: none;
    }
    .logo__mobile {
        display: block;
    }
    .logo__mobile {
        width: 28px;
        max-width: 28px;
    }
    .header {
        padding: 19px 0;
        font-size: 12px;
    }
    .header__wrapper {
        margin-bottom: 0;
    }
    .logo {
        margin: 0;
        top: 0;
    }
    .sandwich {
        display: flex;
    }
    .buttons-header .list-socials {
        margin-left: 0;
    }
    .list-socials li {
        margin-right: 13px;
    }
    .list-socials li:last-child {
        margin-right: 0;
    }
    .list-socials img {
        max-width: 24px;
    }
    .title-big {
        font-size: 31px;
    }
    .descr-big {
        font-size: 16px;
    }
    .text-big {
        font-size: 13px;
    }
    .billbord-block .text-big {
        max-width: 373px;
    }
    .billbord-block .title-big, .billbord-block .descr-big {
        margin-bottom: 14px;
    }
    .billbord-block .title-big {
        max-width: 572px;
    }
    .billbord-block {
        height: 445px;
        padding: 20px 25px;
    }
    .buttons-mobile {
        height: 65px;
        padding: 0 15px;
        padding-right: 19px;
        background: #FAFAFA;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        z-index: 800;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .btn-header {
        width: 30px;
        height: 30px;
        display: flex;
        margin: 0;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .btn-header img {
        max-width: 100%;
        max-height: 100%;
    }
    .btn-header__value {
        top: -2px;
        right: -3px;
    }
    .title-section::before, .title-section::after {
        display: none;
    }
    .title-section {
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 16px;
        text-align: center;
        display: block;
    }
    .descr-section {
        font-size: 14px;
        margin-bottom: 26px;
    }
    .hidden-mobile {
        display: none !important;
    }
    .row {
        margin: 0 -3px;
    }
    .row > div {
        padding: 0 3px;
    }
    .item-category {
        height: 140px;
        padding: 8px 10px;
        margin-bottom: 6px;
        min-height: initial;
    }
    .item-category__image {
        padding: 20px;
        padding-top: 30px;
        transform: none;
    }
    .item-category__image img {
        max-width: 117px;
        max-height: 117px;
    }
    .row_catagories > div:nth-child(2) .item-category__image {
        padding-bottom: 0;
        align-items: flex-end;
    }
    .row_catagories > div:nth-child(2) .item-category__image img {
        max-width: 142px;
    }
    .row_catagories > div:nth-child(3) .item-category__image img {
        max-width: 142px;
    }
    .row_catagories > div:nth-child(4) .item-category__image img {
        max-width: 142px;
    }
    .row_catagories > div:nth-child(6) .item-category__image {
        padding-bottom: 10px;
    }
    .head-section .link-arrow {
        display: inline-block;
    }
    .head-section {
        font-size: 18px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .link-arrow {
        font-size: 18px;
        color: #000;
    }
    .slider-catalog {
        margin: 0 -4px;
        margin-right: -15px;
        margin-bottom: 20px;
    }
    .slider-catalog .item-catalog {
        width: 226px;
    }
    .slider-catalog .slick-slide {
        padding: 0 4px;
    }
    .item-catalog__descr, .item-catalog__sizes {
        font-size: 12px;
    }
    .item-catalog__bottom {
        display: block;
    }
    body {
        font-size: 14px;
    }
    .item-catalog__bottom .link-page {
        margin-top: 9px;
        display: inline-block;
    }
    .item-catalog__image {
        height: 190px;
    }
    .btn-like {
        font-size: 20px;
    }
    .team .title-section, .about .title-section, .originality .title-section {
        margin-bottom: 20px;
    }
    .originality-block {
        padding: 18px 15px;
    }
    .list-page li {
        margin-bottom: 20px;
    }
    .subdescr {
        font-size: 13px;
    }
    .slider-videos {
        margin-top: 20px;
    }
    .slick-arrow {
        width: 20px;
        height: 20px;
    }
    .item-etap__number {
        display: none;
    }
    .row_etaps > div {
        display: none;
    }
    .row_etaps > div:first-child {
        display: block;
    }
    .item-etap {
        font-size: 15px;
        background:transparent;
        padding: 0;
    }
    .tabs-etaps {
        margin-bottom: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .tabs-etaps a {
        font-size: 36px;
        padding-bottom: 12px;
        color: #E1C7A5;
        border-bottom: 3px solid transparent;
        display: block;
        font-weight: 500;
        line-height: 160%;
        font-family: 'Oswald';
    }
    .tabs-etaps .active a {
        border-color: #E1C7A5;
    }
    .block-etaps {
        padding: 21px;
        padding-bottom: 80px;
        background: #FAFAFA;
    }
    .hint__content {
        left: -35px;
        right: auto;
        padding: 10px;
        font-size: 10px;
        width: 185px;
    }
    .hint__content::after {
        left: 35px;
        right: auto;
    }
    .slider-persons .item-person {
        width: 285px;
    }
    .slider-persons .slick-slide {
        padding: 0 4px;
    }
    .slider-persons {
        margin: 0 -4px;
        padding-bottom: 0;
        margin-right: -15px;
    }
    .title-small {
        font-size: 16px;
    }
    .item-person {
        font-size: 13px;
        padding: 7px;
        padding-bottom: 10px;
    }
    .item-person__image {
        height: 385px;
    }
    .subscribe-block {
        padding: 20px;
        position: relative;
        z-index: 2;
        background-image: url(../img/billbord_mob.jpg);
    }
    .subscribe-block__title {
        margin-bottom: 0px;
        font-size: 24px;
    }
    .subscribe-block__descr {
        font-size: 13px;
        margin-top: 25px;
        max-width: 150px;
        display: block;
    }
    .subscribe-block .item-form input {
        background-color: #000;
    }
    .subscribe-block .item-form {
        margin-bottom: 11px;
    }
    .checkbox {
        font-size: 12px;
        margin-top: 20px;
        justify-content: center;
    }
    .subscribe-block__image {
        margin-right: -7px;
        margin-top: -80px;
        margin-bottom: -120px;
        position: relative;
        z-index: -1;
        display: block;
    }
    .subscribe-block__image img {
        max-width: 100%;
        margin-left: auto;
        display: block;
    }
    .about-block {
        padding: 17px 20px;
        padding-bottom: 37px;
    }
    .about-block p {
        margin-bottom: 15px;
    }
    .text-about {
        line-height: normal;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
    .text-about.active {
        -webkit-line-clamp: initial;
    }
    .more-about {
        margin-top: 25px;
        color: #000;
        border-bottom: 1px dashed #000;
        display: inline-block;
        font-weight: 300;
    }
    .about-block__image {
        margin-top: 27px;
        margin-bottom: 14px;
    }
    .bottom-about::before {
        display: none;
    }
    .bottom-about .title-small {
        margin-bottom: 8px;
    }
    .slider-team .slick-slide {
        padding: 0 4px;
    }
    .slider-team {
        margin: 0 -4px;
        margin-right: -15px;
    }
    .slider-team .item-team {
        width: 285px;
    }
    .item-team__image {
        height: 285px;
        margin-bottom: 16px;
    }
    .footer .logo img {
        width: 187px;
    }
    .footer .logo {
        width: 187px;
        display: block;
        margin: 0 auto;
        margin-bottom: 35px;
    }
    .footer {
        padding-top: 27px;
        font-size: 14px;
        padding-bottom: 80px;
    }
    .footer-bottom {
        padding-top: 24px;
        line-height: 220%;
        margin-top: 8px;
    }
    .footer-bottom p {
        max-width: 323px;
    }
    .footer__nav_big, .footer__title {
        font-size: 16px;
    }
    .footer__nav {
        margin-bottom: 24px;
    }
    .footer__nav_big li {
        margin-bottom: 14px;
    }
    .wrapper {
        padding-top: 90px;
    }
    .header.fixed {
        padding: 12px 0;
    }
    .navigation,
    .menu {
        top: 100%;
        padding: 0 15px;
        padding-bottom: 20px;
        width: 100%;
        max-height: 100vh;
        max-height: calc(100vh - 90px);
        overflow: auto;
        left: 0;
        background-color: #fff;
        display: none;
        position: absolute;
    }
    .navigation li a,
    .menu > li > a {
        padding: 7px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navigation-overlay,
    .menu-overlay {
        top: 100px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        z-index: -1;
    }
    .menu-dropdown {
        padding: 10px 15px;
        box-shadow: none;
        border: none;
        position: relative;
        display: none;
        visibility: visible;
        opacity: 1;
        top: 0;
        left: 0;
        width: 100%;
        transition: initial;
    }
    .menu-dropdown__image {
        display: none;
    }
    .menu_haschild > a::after {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        font-family: "Font Awesome 5 Pro";
        font-weight: 900;
        content: "\f078";
        transition: all 0.3s;
    }
    .menu_haschild > a.active::after {
        transform: rotate(180deg);
    }
    .navigation {
        padding-top: 15px;
        bottom: 65px;
        left: 0;
        top: auto;
        position: fixed;
        z-index: 100;
        background: #FAFAFA
    }
    .navigation-overlay {
        bottom: 65px;
        top: 0;
        z-index: 50;
    }
    .btn-header_nav.active img {
        opacity: 0;
    }
    .btn-header_nav::after {
        font-size: 23px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        font-family: "Font Awesome 5 Pro";
        font-weight: 300;
        opacity: 0;
        color: #000;
        content: "\f00d";
    }
    .btn-header_nav.active::after {
        opacity: 1;
    }
    .billbord-block .descr-big span {
        display: block;
    }
    .menu-dropdown__title {
        margin-bottom: 10px;
    }
    .menu-dropdown__list {
        margin-bottom: 10px;
    }
    .item-etap p {
        max-width: 270px;
    }
    .page-catalog .title-page {
        display: none;
    }
    .breadcrumbs {
        padding-top: 8px;
        padding-bottom: 15px;
        font-size: 13px;
    }
    .sidebar-catalog {
        padding: 15px;
        margin-bottom: 15px;
        display: none;
    }
    .head-catalog .sorting-catalog {
        display: none;
    }
    .btn-filter {
        font-size: 13px;
        height: 40px;
        margin-bottom: 8px;
        border: 1px solid #807F7F;
        background: #FFF;
        font-weight: 500;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn-filter img {
        margin-right: 10px;
    }
    .sidebar-catalog__content {
        max-height: initial;
        overflow: initial;
    }
    .wrapper {
        overflow: hidden;
    }
    .mobile-fliter__content {
        width: 30px;
        display: none;
    }
    .mobile-filter__inter {
        background-color: #fff;
    }
    .mobile-fliter {
        margin-bottom: 12px;
        margin-right: -15px;
        overflow: auto;
        display: flex;
        scrollbar-width: thin;
        scrollbar-color: #fff #fff;
    }
    .mobile-fliter__head {
        font-size: 13px;
        padding: 3px 10px;
        border: 1px solid #807F7F;
        background: #FFF;
        font-weight: 500;
        line-height: 180%;
        transition: all 0.3s;
        cursor: pointer;
        display: inline-block;
    }
    .mobile-fliter::-webkit-scrollbar {
      -webkit-appearance: none;
  }
  .mobile-fliter::-webkit-scrollbar:vertical {
      width: 3px;
  }
  .mobile-fliter::-webkit-scrollbar:horizontal {
      height: 3px;
  }
  .mobile-fliter::-webkit-scrollbar-thumb {
      background-color: transparent;
      border-radius: 10px;
  }
  .mobile-fliter::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: transparent;
  }
  .mobile-fliter__item {
    margin-right: 8px;
}
.mobile-filter__inter {
    width: 250px;
    padding-top: 15px;
    white-space: nowrap;
}
.mobile-fliter__item.active .mobile-fliter__head {
    color: #fff;
    background-color: #000;
    border-color: #000;
}
.slider-catalog-page .slick-slide {
    width: 234px;
    padding-right: 8px;
}
.slider-catalog-page {
    margin-right: -15px;
}
.slider-catalog-page .slick-slide > div {
    padding-bottom: 8px;
}
.section-subscribe + .section-text + .footer {
    margin-top: 30px;
}
.item-sidebar__head {
    padding: 9px 0;
    font-weight: 400;
    text-transform: none;
}
.item-sidebar__head i {
    font-size: 12px;
    font-weight: 400;
    transform: rotate(-90deg);
}
.item-sidebar__content {
    padding: 10px 0;
}
.button-sidebar .btn-main {
    height: 58px;
    width: 100%;
}
.button-sidebar {
    padding-bottom: 10px;
}
.checkbox-main {
    font-size: 13px;
    font-weight: 400;
    border-bottom: 1px solid #D9D9D9;
    margin: 0;
}
.checkbox-main label > span {
    padding: 9px 0;
    padding-right: 25px;
    display: block;
}
.checkbox-main label {
    display: block;
    width: 100%;
}
.checkbox-main label > span:after,
.checkbox-main label > span:before {
    top: 10px;
    right: 0;
    left: auto;
}
.sidebar-catalog__title {
    padding-bottom: 12px;
    font-weight: 600;
}
.checkbox-main + .sidebar-catalog__title {
    padding-top: 18px;
}
.slider-nav {
    display: none !important;
}
.slider-for {
    margin: 0;
    margin-bottom: 39px;
}
.slider-for .slick-dots {
    bottom: -24px;
}
.page-card {
    font-size: 13px;
}
.page-card .title-page {
    padding-bottom: 16px;
}
.page-card .btn-main.hidden-desktop {
    width: 100%;
    height: 50px;
    padding: 0;
}
.item-select {
    font-size: 13px;
}
.list-colors li {
    margin-right: 14px;
}
.item-color {
    width: 38px;
    height: 38px;
}
.mobile-text-card {
    margin: 18px 0;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}
.mobile-text-card__title {
    font-weight: 500;
    padding: 14px 0;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mobile-text-card__title i {
    font-size: 12px;
    transition: all 0.3s;
}
.mobile-text-card__title.active i {
    transform: rotate(180deg);
}
.mobile-text-card__content {
    display: none;
}
.card-info__title {
    font-size: 18px;
    margin-bottom: 19px;
}
.card-info li img {
    max-width: 24px;
    margin: 0;
}
.card-info li {
    padding-left: 35px;
    margin-bottom: 20px;
}
.card-info {
    padding: 20px;
}
.card-info__descr {
    font-size: 12px;
    margin-top: 17px;
}
.page-card ~ .originality {
    padding-bottom: 36px;
}
.col_for .btn-like {
    right: 16px;
    top: 9px;
}
.item-basket__content {
    width: 275px;
}
.sidebar-basket {
    margin-top: 25px;
    top: 0;
    position: static;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .billbord-block {
        padding: 21px 25px;
        padding-bottom: 0;
        display: block;
        height: auto;
        background-image: url(../img/billbord_mob.jpg);
    }
    .image-mobile {
        margin-top: -15px;
        margin-bottom: -58px;
        display: block;
    }
    .image-mobile img {
        max-width: 100%;
        height: auto;
        display: block;
    }
    .title-big {
        font-size: 24px;
    }
    .descr-big {
        font-size: 16px;
    }
    .billbord-block .text-big {
        display: none;
    }
    .billbord-block .btn-main {
        width: 100%;
        top: -20px;
        padding: 0;
        position: relative;
        margin-top: 0;
    }
    .btn-main {
        height: 58px;
    }
    .billbord-block .descr-big {
        margin-bottom: 0;
    }
    .item-basket {
        font-size: 13px;
        padding: 15px;
        text-align: center;
        display: block;
        position: relative;
    }
    .item-basket__image {
        width: 246px;
        height: 170px;
        margin: 0 auto;
    }
    .item-basket__content {
        width: 100%;
    }
    .item-basket .quantity {
        margin: 0 auto;
        margin-top: 25px;
    }
    .features-basket {
        justify-content: center;
    }
    .item-basket .buttons-basket {
        top: 15px;
        right: 15px;
        margin: 0;
        position: absolute;
    }
    .basket-info .list-icons li {
        margin-bottom: 15px;
        width: 100%;
    }
    .basket-info .list-page li {
        margin-right: 0;
    }
    .basket-info .list-icons, .basket-info .list-page {
        display: block;
    }
    .basket-info .list-page {
        padding-bottom: 10px;
    }
    .basket-info {
        padding: 20px;
        font-size: 13px;
    }
    .page-basket {
        padding-bottom: 45px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .slider-videos__item {
        height: 180px;
    }
    .page-card .title-page {
        font-size: 20px;
    }
    .page-card .price-main {
        font-size: 18px;
    }
    .slider-for__item {
        height: 330px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .hidden-desktop {
        display: none !important;
    }
    .navigation,
    .menu {
        display: flex !important;
    }
    .sidebar-catalog {
        display: block !important;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1600px) {
	.container {
		max-width: 1470px;
	}
}